// Заголовки, общие БЄМ блоки и проче...
/*Common - общие стили*/
//=============================================================================================
aside, nav, footer, header, section, main {
	display: block;
}
//=============================================================================================
p + p { // рекомендуется в div все равно всаталять p (параграф) на случай 
	//если заказчик захочет добавить текст, тогда между параграфами будет отступ на высоту шрифта
	margin-top: 1em;
}
//=============================================================================================
.btn {
	display: inline-flex;
	background-color: #01996D;
	color: #fff;
	line-height: math.div(25, 20);
	padding: rem(19) rem(49);
	border: 1px solid #01996D;
	border-radius: rem(4);		
	transition: all 0.3s ease 0s;
	&:hover	{
		opacity: 0.8; // как распостраненный вариант
		//background-color: #037253;			
	}
	@media (max-width:$tablet){
		padding: rem(10) rem(25);  
	}
	@media (max-width:$mobile){
	//padding: rem(10) rem(25);  
	}
}
//=============================================================================================
	//title
.title {
	font-size: rem(24);
	font-weight: 600;
	line-height: math.div(39, 25);
	//margin-bottom: rem(-3);
	}
//=============================================================================================	
//subtitle
.subtitle {
	font-family: "Georgia", serif;
	font-weight: 700;
	line-height: math.div(79, 50);
	@include adaptiveValue("font-size", 50, 15);
	line-height: math.div(79, 50);
	@include adaptiveValue("margin-bottom", 33, 5);
	@media (max-width: $mobile) {
		@include adaptiveValue("font-size", 50,35);
		@include adaptiveValue("margin-bottom", 33, 15);
	}
}
//=============================================================================================
// .text
.text {
	color: #424242;
	font-size: rem(20);
	font-weight: 500;
	line-height: math.div(31, 20);
	}	
//=============================================================================================