//====================================================================================================
//====================================================================================================
//====================================================================================================
.footer {
	padding-top: rem(106);
	padding-bottom: rem(144);
	background: #245852;
	color: #fff;
	// .footer__container
	&__container {
	}
	// .footer__content
	&__content {
		font-weight: 600;
		font-size: rem(25);
		line-height: math.div(30, 25);
	}
	// .footer__logo
	&__logo {
		width: rem(107);
		height: rem(31);
		+ * {
			margin-top: rem(74);
		}

	}
	// .footer__body
	&__body {
	}
	// .footer__list
	&__list {
	}
	// .footer__item
	&__item {		
		+ * {
			margin-top: rem(60);
		}
		transition: opacity 0.3s ease;
		&:hover {
			opacity: 0.8;
		}
	}
}


//====================================================================================================
