//====================================================================================================
//====================================================================================================
//====================================================================================================
.footer {
	@include adaptiveValue("padding-top", 106, 40);
	@include adaptiveValue("padding-bottom", 144, 50);
	background: #245852;
	color: #fff;
	// .footer__container
	&__container {
	}
	// .footer__content
	&__content {
		font-weight: 600;
		font-size: rem(25);
		line-height: math.div(30, 25);
		@include adaptiveValue("padding-left", 0, 25);
	}
	// .footer__logo
	&__logo {
		width: rem(107);
		height: rem(31);
		+ * {
			@include adaptiveValue("margin-top", 74, 40);
		}

	}
	// .footer__body
	&__body {
	}
	// .footer__list
	&__list {
	}
	// .footer__item
	&__item {		
		+ * {
			@include adaptiveValue("margin-top", 60, 25);
		}
		transition: opacity 0.3s ease;
		&:hover {
			opacity: 0.8;
		}
	}
}


//====================================================================================================
