
.header {
	padding-top: rem(17);
	padding-bottom: rem(17);
	border-bottom: rem(1) solid #d6d6d6;
	background-color: #caf1e6; // убрать
	line-height: 1;
	// .header__container
	&__container {
	}
	// .header__row
	&__row {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
	}
	// .header__logo
	&__logo {
	}
	// .header__nav
	&__nav {
		//margin-left: 172px;
		@include adaptiveValue("margin-left", 172, -80);
		font-weight: 500;
		color: #292929;
		ul {
			display: flex;
		}
		li + li {
			//margin-left: 70px;
			@include adaptiveValue("margin-left", 70, 0);
			@media (max-width: $tablet) {
				margin-left: rem(42);
			}
		}
		a {
			transition: color 0.2s ease;
		}
		a:hover {
			color: #01996d;
		}
		@media (max-width: $tablet) {
			margin-left: rem(30);
		}
		@media (max-width: $tablet){
			display: none; 
		}	
	}
	// .header__login
	&__login {
		display: flex;
		align-items: center;
		margin-left: auto;
		> * + * {
			margin-left: rem(35);
		}
		@media (max-width: $tablet) {
			margin-left: rem(30);
		}
		@media (max-width:$tablet){
			display: none; 
		}
	}
	// .header__login-link
	&__login-link {
		//margin-top: -0px;
		color: #000;
		transition: color 0.2s ease;
		&:hover {
			color: #01996d;
		}
	}
	// .header__btn
	&__btn {
		@include adaptiveValue("padding-left", 50, 10);
		@include adaptiveValue("padding-right", 50, 10);
		align-items: center;
		@media (max-width: $tablet) {
			padding: rem(10) rem(25);
			margin-right: rem(25);
		}
	}

	//====================================================
	// .header__mobile-nav-button
	&__mobile-nav-button {
		cursor: pointer;
		padding: 0;
		border: none;
		background: transparent;
			/* Nav icon styles*/
		position: relative;
		z-index: 999;
		width: rem(40);
		height: rem(30);
		/* display: flex; */
		justify-content: center;
		align-items: center;
		display: none;
		@media (max-width: $tablet) {
			display: flex;
		}
	}
	// .header__mobile-nav-button-icon
	&__mobile-nav-button-icon {
		display: block;
		position: relative;
		width: 40px;
		height: 4px;
		background-color: #000;
		&::after,
		&::before {
			position: absolute;
			content: '';
			width: rem(40);
			height: rem(4);
			background-color: #000;
			/* Трансформация при закрывании */
			transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;			
		}
		&::before {
			left: 0;
			top: rem(-10);
		}
		&::after {
			left: 0;
			top: rem(10);
		}

		&.active {
			background-color: transparent;
		}
		&.active::before {
			transform: rotate(45deg);
			top: 0;
			/* Трансформация при открывании */
			transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
		}
		&.active::after {
			transform: rotate(-45deg);
			top: 0;
			/* Трансформация при открывании */
			transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
		}
	}
}

//========================================================================================================================================================
.mobile-nav {
	display: none;	
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);

    /* display: flex; */
    flex-direction: column;
    align-items: center;
    //justify-content: space-between;
    padding: rem(10) rem(15);

    text-align: center;
	&.active {
		display: flex;
	}
	// .mobile-nav__logo
	&__logo {
		margin-top: rem(50);
		margin-bottom: rem(30);
	}
	// .mobile-nav__list
	&__list {
		font-size: rem(22);
		li + li {
			margin-top: rem(20);
		}
		margin-bottom: rem(60);
	}
	// .mobile-nav__login
	&__login {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(22);
		& > * + * {
			margin-left: rem(30);
		}
	}
	// .mobile-nav__btn
	&__btn {
	}
}

//========================================================================================================================================================



