//====================================================================================================
//========================================================================================================================================================
.header {
	padding-top: rem(10);
	padding-bottom: rem(10);
	background: #f3fde5; // не забыть убрать
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	// .header__container
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		//border: 1px solid green;
	}
	// .header__content
	&__content {
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 5;
		width: rem(80);
		height: rem(35);
		@include adaptiveValue("margin-right", 163, 0);
	}
	// .header__menu
	&__menu {
		justify-content: flex-end;
	}
	// .header__button
	&__button {
		//padding: rem(13) rem(50);
		@include adaptiveValue("padding-left", 50, 10);
		@include adaptiveValue("padding-right", 50, 10);
		align-items: center;
		@media (max-width: $tablet) {
			padding: rem(10) rem(25);
			margin-right: rem(25);
		}
	}
	&__button-w {
		color: #000;
		line-height: math.div(24, 20);
		display: inline-flex;
		padding: rem(19) rem(35);
		@include adaptiveValue("margin-left", 80, -80);
		transition: all 0.3s ease 0s;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: $tablet) {
			margin-left: 0;
		}
	}
}

.menu {
	flex: 1 1 auto;
	// .menu__icon
	&__icon {
		//чтобы заработало бургер, скроем menu icon
		display: none;
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		justify-content: flex-start;
		> li {
			word-wrap: break-word;
			&:nth-child(1) {
				margin-left: 0;
			}
			position: relative;
			@include adaptiveValue("margin-left", 70, 0);
		}
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			> li {
				// эти отступы сверху/снизу расширяют область наведения мыши
				padding: rem(10) 0;
			}
		}
	}
	// .menu__link
	&__link {
		color: #292929;
		line-height: math.div(24, 20);
		font-weight: 500;
		&:hover {
			text-decoration: underline;
		}
	}
}

//========================================================================================================================================================
@media (max-width: $tablet) {
	.menu__icon {
		display: block;
		z-index: 5;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			// добавляем среднюю полоску
			top: 50%;
			transform: scale(1) translate(0, -50%);
			//top: calc(50% - rem(1)); // заменяет эти две записи
		}
	}

	.menu__icon._active span {
		// убираем среднюю полоску при классе _active
		transform: scale(0) translate(0, -50%);
	}

	.menu__icon._active::before {
		// поворачиваем верхнюю полоску при классе _active
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}

	.menu__icon._active::after {
		// поворачиваем нижнюю полоску при классе _active
		bottom: 50%;
		transform: rotate(45deg) translate(0, 50%);
	}

	// по идее сверху это закоментированный код бургера

	// это меню послe
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		color: #000;
		background-color: rgba(255, 255, 255, 1);
		padding: rem(200) rem(30) rem(30) rem(30);
		text-align: center;
		transition: left 0.3s ease 0s; // убираем за экран влево
		overflow: auto; // обязательно добавить, чтобы появлялся скролл, если меню не будет помещаться на экране
	}

	.menu__body._active {
		left: 0%;
	}

	.menu__body::before {
		// чтобы меню уходило под плашку header
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: rem(70);
		//background-color: #912105;
		z-index: 2;
	}

	.menu__list > li {
		//flex-wrap: wrap;
		margin: 0 0 rem(40) 0;
		:last-child {
			margin-bottom: 0;
		}
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: rem(30);
	}
}
//==============================================================
// финиш меню бургер

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
