//====================================================================================================
//========================================================================================================================================================
//== start story section 3 ======================================================================================================================================================
.story {
	background: #245852;
	@include adaptiveValue("padding-top", 229, 50);
	@include adaptiveValue("padding-bottom", 177, 40);
	// .story_container
	&__container {
		max-width: rem(1507);
	}
	// .story__body
	.story__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	// .story__content
	&__content {
		flex: 0 1 38.5%;
		padding: 0 0 0 0;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			padding: 0;
			margin-bottom: rem(50);
		}
	}
	// .story__block-text
	&__block-story-text {
		@media (max-width: $mobile) {
			margin-bottom: rem(60);
		}
	}
	// .story__image
	&__video {
		//display: flex;
		flex: 0 1 59.4%;
		position: relative;
		z-index: 2;
		img {
			max-width: 100%;
			border-radius: rem(18);
			overflow: hidden; //чтобы картинка вписывалась в радиус
			//margin: 0 0 rem(30) 0;
		}
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			text-align: center;
			//margin: 0;
		}
	}
	// .story__video-button
	&__video-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); //смещение наполовину размера кнопки
		width: rem(82);
		height: rem(82);
		}
	// .story__video-overlay
	&__video-overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		}
	// .hi__video-object
	&__video-object {
		}
}

.block-story-text {	
	color: #ffffff;
	// .block-text__title
	&__subtitle {
	}
	// .block-text__text
	&__text {
		font-weight: 600;
		@include adaptiveValue("font-size", 25, 15);
		line-height: math.div(39, 25);
		@include adaptiveValue("margin-bottom", 57, 10);
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 25,15);
			@include adaptiveValue("margin-bottom", 57, 30);
		}
	}
	// .block-text__btn
	&__btn {
	}
	// .block-text__button
	&__button {
	}
}
//== finish story section 3 ======================================================================================================================================================
//====================================================================================================
// старт product section 4 ===========================================================================

.product {
	//background: #daf9f6;
	@include adaptiveValue("padding-top", 120, 50);
	@include adaptiveValue("padding-bottom", 168, 40);
	// .product__container
	&__container {
	}
	// .product__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:$mobile){
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
	}
	// .product__image
	&__image {
		flex: 0 1 48.9%;
		position: relative;
		padding-left: rem(60); // чтобы карточка вписалась в контейнер
		padding-bottom: rem(74); // чтобы карточка вписалась в контейнере
		z-index: 2;	
		display: flex;	
		//margin-right: rem(87);
		img {
			max-width: 100%;
			border-radius: rem(18);
			overflow: hidden; //чтобы картинка вписывалась в радиус
			//margin: 0 0 rem(30) 0;
		}
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			text-align: center;			
		}
	}
	// .product__image-object
	&__image-object {
	}
	// .product__card
	&__card {
		flex: 0 1 44.16%;
	}
	// .product__content
	&__content {
		flex: 0 1 42.63%;
		padding: 0 0 0 0;
		@include adaptiveValue("margin-left", 86, 20);
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			padding: 0;
			margin-bottom: rem(50);
		}
	}
	// .product__block-text
	&__block-text {
	}
}

.card {
	position: absolute;
	left: 0;
	bottom: 0;
	@include adaptiveValue("max-width", 296, 260);
	background-color: #fff;
	border-radius: rem(4);
	box-shadow: 0 rem(3.62249) rem(18.1125) rgba(165, 165, 165, 0.25);
	display: flex;
	flex-direction: column;
	padding: rem(23) 0 rem(30);
	@media (max-width:$mobile){
		max-width: rem(296);  
	}
	// .card__avatar-elements
	&__avatar-elements {
		text-align: center;
	}
	// .card__title
	&__title {
		display: inline;
		font-weight: 600;
		font-size: rem(14.5);
		@include adaptiveValue("font-size", 14.5, 10);		
		line-height: math.div(23, 14.5);
		padding: rem(7) rem(5);
		border-bottom: rem(0.75) solid #000;
	}
	// .card__avatar
	&__avatar {
		margin-top: rem(14);
	}
	// .card__avatar-element
	&__avatar-element {
	}
	// .card__image
	&__image {
		width: rem(57);
		height: rem(57);
		object-fit: cover;
		border-radius: 50%;
		margin-bottom: rem(10);
	}
	// .card__name
	&__name {
		font-size: rem(11.94);		
		line-height: math.div(19, 11.94);
		@include adaptiveValue("margin-bottom", 20, 5);
	}
	// .card__contents
	&__contents {
		color: #000;
		text-align: left;
		//padding-left: rem(55);
		@include adaptiveValue("padding-left", 55, 0);
		@include adaptiveValue("padding-right", 55, 0);
		//padding-right: rem(55);
	}
	// .card__content-title
	&__content-title {
		font-family: "Georgia", serif;	
		font-weight: 700;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(25, 16);
		@include adaptiveValue("margin-bottom", 16, 5);

	}
	// .card__items
	&__items {
		font-size: rem(10.62);
		line-height: math.div(17, 10.62);		
		& li::before {
			content: "";
			width: rem(4);
			height: rem(4);
			border-radius: 50%;
			background-color: #000;
			display: inline-block;
			margin: 0 rem(6) rem(2) 0;
		}
	}
	// .card__item
	&__item {
		//padding-left: rem(50);
		//text-align: left;
		+ * {
			@include adaptiveValue("margin-top", 16, 5);
		}
	}
}

.block-text {
	// .block-text__title
	&__title {
		font-family: "Lato", sans-serif;
		font-weight: 600;		
		@include adaptiveValue("font-size", 25, 15);
		line-height: math.div(39, 25);
		color: #424242;
		margin-bottom: rem(10);
	}
	// .block-text__subtitle
	&__subtitle {// все, что после заголовка отступ 20px
		color: #01996D;
		//@include adaptiveValue("font-size", 50, 15);
		+ * {
			margin-top: rem(20);
		}
	}
	// .block-text__text
	&__text {
		color: #484848;
		+ * {
		margin-top: rem(35);
		}
	}
	// .block-text__btn
	&__btn {
	}
}
// финиш product section 4
//=============================================


