//====================================================================================================
//========================================================================================================================================================
//== start story section 3 ======================================================================================================================================================
.story {
	background: #245852;
	@include adaptiveValue("padding-top", 229, 50);
	@include adaptiveValue("padding-bottom", 177, 40);
	// .story_container
	&__container {
		max-width: rem(1507);
	}
	// .hi__body
	.story__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	// .hi__content
	&__content {
		flex: 0 1 38.5%;
		padding: 0 0 0 0;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			padding: 0;
		}
	}
	// .hi__block-text
	&__block-text {
		@media (max-width: $mobile) {
			margin-bottom: rem(60);
		}
	}
	// .hi__image
	&__video {
		//display: flex;
		flex: 0 1 59.4%;
		position: relative;
		z-index: 2;
		img {
			max-width: 100%;
			border-radius: rem(18);
			overflow: hidden; //чтобы картинка вписывалась в радиус
			//margin: 0 0 rem(30) 0;
		}
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			text-align: center;
			//margin: 0;
		}
	}
	// .story__video-button
	&__video-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); //смещение наполовину размера кнопки
		width: rem(82);
		height: rem(82);
		}
	// .story__video-overlay
	&__video-overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		}
	// .hi__video-object
	&__video-object {
		}
}

.block-text {
	color: #ffffff;
	// .block-text__title
	&__title {
		font-family: "Georgia", serif;
		font-weight: 700;
		@include adaptiveValue("font-size", 50, 15);
		line-height: math.div(79, 50);
		@include adaptiveValue("margin-bottom", 33, 5);
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 50,35);
			@include adaptiveValue("margin-bottom", 33, 15);
		}
	}
	// .block-text__text
	&__text {
		font-weight: 600;
		@include adaptiveValue("font-size", 25, 15);
		line-height: math.div(39, 25);
		@include adaptiveValue("margin-bottom", 57, 10);
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 25,15);
			@include adaptiveValue("margin-bottom", 57, 30);
		}
	}
	// .block-text__btn
	&__btn {
	}
	// .block-text__button
	&__button {
	}
}
//== finish story section 3 ======================================================================================================================================================
//====================================================================================================
// старт hi section_1

// финиш hi section_1
//=============================================
