//== start home section 1 ===========================================================================
.home {
	//margin-top: rem(84);
	position: relative;
	@media (max-width:$mobile){
		//position: none; 
	}
	//text-align: center;
	color: #fff;
	// .home__foto
	&__foto {
	}
	// .home__bg
	&__bg {
		width: 100%;
		@media (max-width:$mobile){
			@include adaptiveValue("padding-bottom", 30, 20);
		}
	}
	// .home__container
	&__container {
		//position: relative;
	}
	// .home__text
	&__content {
		max-width: rem(480);
		//margin-right: rem(10);	
		position: absolute;
		width: 100%;
		padding: 0 rem(15);
		left: 13%;
		top: 20%;
		@media (max-width:$tablet){
			left: 0%;
			top: 10%;
		}
		//transform: translate(-14.5%, -30%);
		@media (max-width:$mobile){
			position: relative;
			max-width: rem(620);
		}
	}
	// .home__title
	&__title {
		font-family: "Georgia", serif;
		font-weight: 700;
		line-height: math.div(74, 65);
		color: #01996D;	
		@include adaptiveValue("margin-bottom", 30, 15);
		@include adaptiveValue("font-size", 65, 20);
		@media (max-width:$mobile){
			//font-size: rem(55);
			@include adaptiveValue("font-size", 55, 30);
			//margin-top: rem(20);			
		}		
	}
	// .home__desc
	&__desc {
		max-width: rem(440);
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(31, 20);
		color: #484848;
		@include adaptiveValue("margin-bottom", 53, 20);
		@media (max-width:$mobile){
			margin-top: rem(20);
			//@include adaptiveValue("padding-bottom", 30, 20);
		}
		+ * {
			//@include adaptiveValue("margin-top", 53, 15);
		}
	}
	// .home__button
	&__button {
		@media (max-width:$mobile){
			margin-bottom: rem(30);
		}
	}
	// .home__btn
	&__btn {
	}
}
//== finish home section 1 ===========================================================================
//====================================================================================================
//=== start works section 2 =====================================================================================================================================================
.works {
	@include adaptiveValue("padding-top", 169, 51);
	padding-bottom: rem(51);
	background: #e5e5e5;
	// .works__container
	&__container {
	}
	// .works__header
	&__header {
		margin-bottom: rem(52);	
	}
	// .works__title
	&__title {
		margin-bottom: rem(-3);
		@include adaptiveValue("font-size", 24, 20);
	}
	// .works__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$mobile){
			display: block;
		}
	}
	// .works__subtitle
	&__subtitle {
		flex: 0 1 42.63%;
		font-family: "Georgia", serif;
		@include adaptiveValue("font-size", 50, 20);
		font-weight: 700;
		line-height: math.div(79, 50);
		color: #01996D;
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 50, 30);
		}
	}
	// .works__text
	&__text {
		flex: 0 1 48.98%;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 15);
		line-height: math.div(30, 20);
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 20, 18);
		}
	}
	&__cards {		
	}

}

//=============
.steps {
	//margin-top: rem(30);
	&__row {
		display: flex;
		justify-content: space-between;	
		//gap: rem(65);
		margin: 0 rem(-15);	
		@media (max-width:$tablet){
			flex-wrap: wrap;
		}
		@media (max-width:$mobile){
			justify-content: center;;
		}
	}
	&__column {
		flex: 0 1 33.333%;
		padding: 0 rem(15);
		&:nth-child(2) {
			padding-top: rem(287);
		}
		@media (max-width:$mobile){
			&:nth-child(2) {
				padding-top: rem(54);
			}  
		}
		&:nth-child(3) {
			padding-top: rem(54);
		}
		@media (max-width:$tablet){
			flex: 0 1 50%;
		}
		@media (max-width:$mobile){
			flex: 0 1 80%;
		}
	}
	&__item {
		background: #f9f9f9;
		display: flex;
		/*эти две строки чтобы прибить кнопку к низу и еще позволим блоку с текстом увеличиваться flex: 1 1 auto*/
		flex-direction: column;
		/*переварачиваем все элементы*/
	}
	// .steps__title
	&__title {
		position: relative;
		padding-top: rem(135);
		padding-left: rem(80);
		font-family: "Georgia", serif;
		font-size: rem(30);
		font-weight: 700;
		line-height: 150%;
		color: #000;
		margin-bottom: rem(55);
		&::before {
			content: attr(data-number);
			position: absolute;
			top: 0;
			left: 0;
			font-size: rem(150);
			font-weight: 400;
			line-height: 150%;
			color: rgba(1, 153, 109, 0.2);
		}
	}
	// .steps__text
	&__text {
		font-weight: 500;
		line-height: 150%;
		margin-bottom: rem(60);
	}
	&__wrapper-image {
	}
	// .steps__img
	&__image { //пока используем верхнее решение
		border-radius: rem(8);
		width: 100%;
		object-fit: cover; // если картинка будет другой пропорции
		}
}
//== finish works section 2 ========================================================================
//========================================================================================================================================================
//== start story section 3 ======================================================================================================================================================

.story {
	background: #245852;
	@include adaptiveValue("padding-top", 229, 50);
	@include adaptiveValue("padding-bottom", 177, 40);
	// .story_container
	&__container {
		max-width: rem(1507);
	}
	// .story__body
	.story__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	// .story__content
	&__content {
		flex: 0 1 38.5%;
		padding: 0 0 0 0;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			padding: 0;
			margin-bottom: rem(50);
		}
	}
	// .story__block-text
	&__block-story-text {
		@media (max-width: $mobile) {
			margin-bottom: rem(60);
		}
	}
	// .story__video
	&__video {
		flex: 0 1 59.4%;
		position: relative;
		border-radius: 18px;
		overflow: hidden;
		max-width: rem(895);
		z-index: 2;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			text-align: center;
		}
	}
	// .story__video-overlay
	&__video-overlay {
		position: absolute;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		transition: opacity 0.2s ease;
		&.hidden {
			opacity: 0;
		}
	}
	// .story__video-button
	&__video-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); //смещение наполовину размера кнопки
	}
	// .story__video-object
	&__video-object {
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}	
}

//==================================================================

.block-story-text {	
	color: #ffffff;
	// .block-text__title
	&__subtitle {
	}
	// .block-text__text
	&__text {
		font-weight: 600;
		@include adaptiveValue("font-size", 25, 15);
		line-height: math.div(39, 25);
		@include adaptiveValue("margin-bottom", 57, 10);
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 25,15);
			@include adaptiveValue("margin-bottom", 57, 30);
		}
	}
	// .block-text__btn
	&__btn {
	}
	// .block-text__button
	&__button {
	}
}

//== finish story section 3 ======================================================================================================================================================
//====================================================================================================
// старт product section 4 ===========================================================================

.product {
	//background: #daf9f6;
	@include adaptiveValue("padding-top", 120, 50);
	@include adaptiveValue("padding-bottom", 168, 40);
	// .product__container
	&__container {
	}
	// .product__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:$mobile){
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
	}
	// .product__image
	&__image {
		flex: 0 1 48.9%;
		position: relative;
		padding-left: rem(60); // чтобы карточка вписалась в контейнер
		padding-bottom: rem(74); // чтобы карточка вписалась в контейнере
		z-index: 2;	
		display: flex;	
		//margin-right: rem(87);
		img {
			max-width: 100%;
			border-radius: rem(18);
			overflow: hidden; //чтобы картинка вписывалась в радиус
			//margin: 0 0 rem(30) 0;
		}
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			text-align: center;			
		}
	}
	// .product__image-object
	&__image-object {
	}
	// .product__card
	&__card {
		flex: 0 1 44.16%;
	}
	// .product__content
	&__content {
		flex: 0 1 42.63%;
		padding: 0 0 0 0;
		@include adaptiveValue("margin-left", 86, 20);
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			padding: 0;
			margin-bottom: rem(50);
		}
	}
	// .product__block-text
	&__block-text {
	}
}

.card {
	position: absolute;
	left: 0;
	bottom: 0;
	@include adaptiveValue("max-width", 296, 260);
	background-color: #fff;
	border-radius: rem(4);
	box-shadow: 0 rem(3.62249) rem(18.1125) rgba(165, 165, 165, 0.25);
	display: flex;
	flex-direction: column;
	padding: rem(23) 0 rem(30);
	@media (max-width:$mobile){
		max-width: rem(296);  
	}
	// .card__avatar-elements
	&__avatar-elements {
		text-align: center;
	}
	// .card__title
	&__title {
		display: inline;
		font-weight: 600;
		font-size: rem(14.5);
		@include adaptiveValue("font-size", 14.5, 10);		
		line-height: math.div(23, 14.5);
		padding: rem(7) rem(5);
		border-bottom: rem(0.75) solid #000;
	}
	// .card__avatar
	&__avatar {
		margin-top: rem(14);
	}
	// .card__avatar-element
	&__avatar-element {
	}
	// .card__image
	&__image {
		width: rem(57);
		height: rem(57);
		object-fit: cover;
		border-radius: 50%;
		margin-bottom: rem(10);
	}
	// .card__name
	&__name {
		font-size: rem(11.94);		
		line-height: math.div(19, 11.94);
		@include adaptiveValue("margin-bottom", 20, 5);
	}
	// .card__contents
	&__contents {
		color: #000;
		text-align: left;
		//padding-left: rem(55);
		@include adaptiveValue("padding-left", 55, 0);
		@include adaptiveValue("padding-right", 55, 0);
		//padding-right: rem(55);
	}
	// .card__content-title
	&__content-title {
		font-family: "Georgia", serif;	
		font-weight: 700;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(25, 16);
		@include adaptiveValue("margin-bottom", 16, 5);

	}
	// .card__items
	&__items {
		font-size: rem(10.62);
		line-height: math.div(17, 10.62);		
		& li::before {
			content: "";
			width: rem(4);
			height: rem(4);
			border-radius: 50%;
			background-color: #000;
			display: inline-block;
			margin: 0 rem(6) rem(2) 0;
		}
	}
	// .card__item
	&__item {
		//padding-left: rem(50);
		//text-align: left;
		+ * {
			@include adaptiveValue("margin-top", 16, 5);
		}
	}
}

.block-text {
	// .block-text__title
	&__title {
		font-family: "Lato", sans-serif;
		font-weight: 600;		
		@include adaptiveValue("font-size", 25, 15);
		line-height: math.div(39, 25);
		color: #424242;
		margin-bottom: rem(10);
	}
	// .block-text__subtitle
	&__subtitle {// все, что после заголовка отступ 20px
		color: #01996D;
		//@include adaptiveValue("font-size", 50, 15);
		+ * {
			margin-top: rem(20);
		}
	}
	// .block-text__text
	&__text {
		color: #484848;
		+ * {
		margin-top: rem(35);
		}
	}
	// .block-text__btn
	&__btn {
	}
}
// финиш product section 4
//=============================================


